DATABASE_URL=postgresql://postgres.fbejbbcsapsrugptefgy:RJeJ4Hj2GGJuiIlP@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://fbejbbcsapsrugptefgy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZiZWpiYmNzYXBzcnVncHRlZmd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMjkzMTAsImV4cCI6MjA4NjgwNTMxMH0.Tb9KkYACtqq8RE6w50YoydV7ZQMErvGPbYUyprelK0c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZiZWpiYmNzYXBzcnVncHRlZmd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTIyOTMxMCwiZXhwIjoyMDg2ODA1MzEwfQ.-LXi0LvmMyeFsYn982OLkuALDhgM7Ca-04ODzbrysEQ